.Titel {
    text-align: left;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: #595085;

}

.Titel1 {
    text-align: left;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #595085;

}

.Titel2 {
    text-align: right;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #595085;

}

.SlideButton {

    padding: 10;
}

.rectangle1 {
    left: -19px;
    top: 126px;
    background: #F6F5FB;
    border-radius: 15px;
}

.rectangle2 {
    align-items: center;
    left: 22px;
    top: 272px;
    background: #F6F5FB;
    border-radius: 15px;
}

.rectangle3 {
    align-items: center;
    padding: 10px;
    left: 22px;
    top: 272px;
    background: #F6F5FB;
    border-radius: 15px;
}

.rectangle4 {
    align-items: center;
    padding: 10px;
    left: 22px;
    top: 272px;
    background: #F6F5FB;
    border-radius: 0px;
}

.rectcenter {
    align-items: center;
}

.dashoard {
    display: grid;
    justify-content: space-around;
    grid-template-rows: repeat(2, 47px);
    align-content: center;
}

.dashoard2 {
    display: flex;
    justify-content: space-between;
}

.dashoard3 {
    display: flex;
    justify-content: end;
}

.artTitel1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #595085;
}

.artTitel2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    color: #403572;
    opacity: 0.5;
}

.home {
    align-self: center;
    left: 13.82%;
    right: 76.45%;
    top: 28.47%;
    bottom: 28.92%;
    color: #D3D3D3;
    font-size: 50px;
}

.book {
    align-self: center;
    left: 73.89%;
    right: 13.29%;
    top: 20.42%;
    bottom: 23.4%;
    color: #D3D3D3;
    font-size: 50px;
}

.circlePlus {
    left: 40.51%;
    right: 41.54%;
    top: 10.11%;
    bottom: 11.24%;
    color: #298ED7;
    font-size: 70px;
}

.eatTrackerTitel {
    left: 0%;
    right: 0%;
    top: 37.66%;
    bottom: 0%;
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    display: flex;
    align-items: center;
    justify-content: end;
    text-align: end;
    letter-spacing: -0.28px;

    background: linear-gradient(180deg, #1A5A88 0%, #298ED7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;

}

.eatTrackerRad {
    align-self: center;
    left: 13.82%;
    right: 76.45%;
    top: 28.47%;
    bottom: 28.92%;
    color: #D9D9D9;
    font-size: 40px;

}
.example-custom-input{
    background-color: blue;
}
.appPosition {
    position: absolute;
  }

.buttonIcon {
    align-self: center;
    left: 13.82%;
    right: 26.45%;
    top: 28.47%;
    bottom: 28.92%;
    color: #D3D3D3;
    font-size: 50px;
}